* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
html {
    scrollbar-color: var(--background-color-bottom) var(--background-color-top);
    scrollbar-gutter: stable;
}

body {
    width: 100%;
    min-height: 100lvh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin-left: 3rem;
}

button {
    background: none;
    border: none;
    font-size: var(--text-base);
    cursor: pointer;
    color: white;
}

.main-section {
    width: 100%;
    height: calc(100lvh - (var(--header-height) * 2));
    padding-inline: 3rem;
}

.heading {
    text-shadow: 0 0 6px white;
    font-size: var(--text-4xl);
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--background-color-top), var(--background-color-bottom));
    z-index: -1;
}

.root-container {
    width: 100%;
    min-height: 100%;
}

.main-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    min-height: 100lvh;
    padding-top: var(--header-height);
}

.header-content {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A1A1A;
    z-index: 5;
}

.header-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hero-content {
    width: 100%;
    height: calc(100lvh - (var(--header-height) * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.shinkom-initializer {
    width: fit-content;
    background-image: linear-gradient(to bottom, var(--button-color-top), var(--button-color-bottom));
    border-radius: 1rem;
    box-shadow: 0 0 250px 16px #43D6FF;
}

.shinkom-initializer button {
    font-size: var(--text-2xl);
    padding: 1rem;
    text-shadow: 0 0 6px white;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.sect-compat-inspector {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sect-compat-inspector .sect-summary {
    padding-left: 3rem;
    flex: calc(1/2 * 100%);
}

.sect-summary {
    height: 80%;
    font-size: var(--text-xl);
    line-height: 186%;
}

.sect-summary-text {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.sect-summary-detail {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sect-control-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sect-control-panel .sect-summary {
    width: 50%;
}

#inspector-demo {
    height: 100%;
    flex: calc(1/2 * 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.demo-container {
    width: 75%;
    height: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 2rem;
    background-color: white; 
    color: var(--carbon-black-var-3); 
    text-align: center; 
    font-size: 2rem;
    box-shadow: 0 0 250px -40px #7E5A99;
}

.pane {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 35%;
    position: relative;
    background-size: 2.6777% 4.6777%;
    background-image: radial-gradient(circle at center, rgb(80, 80, 80) 5%, var(--carbon-black-var-2) 5%);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: var(--carbon-black-var-3) var(--carbon-black-var-1);
}

.pane-header {
    padding: .5rem;
}

.sect-compat-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-engine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-engine .sect-summary {
    flex: calc(1/2 * 100%);
}

#node-playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: calc(1/2 * 100%);
    height: 100%;
    filter: drop-shadow(0 0 500px #82f3ff7a);
}

#node-playground div:first-of-type.pane {
    height: 50%;
}

#code-editor {
    width: 100%;
    height: 100%;
    padding: .5rem;
    background: none;
    resize: none;
    font-size: var(--text-base);
    color: white;
}

.run-icon {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1.5rem solid white;
}

.code-view:hover {
    .pg-buttons {
        opacity: 1;
    }
}

.pg-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 8rem;
    top: .5rem;
    right: 2rem;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.wasm-output {
    padding: .5rem;
}

.footer {
    padding: 4rem;
}

sk-compat-inspector {
    transition-duration: 300ms;
}

sk-control-panel::part(sk-show-panel) {
    box-shadow: 0 0 34px 0 #04D9FF;
}

sk-control-panel::part(sk-control-panel) {
    box-shadow: 0 0 250px -110px #002BFF;
}

sk-compat-view {

}